#container
{
    display: flex;
    justify-content: center;

}


/* pop up material */
#material_container {

    position: absolute;
    width: 400px;
    height: 100px;

    border: salmon 2px;
    background-color: rgba(red, green, blue, 0);

    display: flex;
    justify-content: center;

    top: 80%;
}

.material_item_image
{
    width:120px;
    height:120px;

    position: relative;
    border: solid 5px white;
    border-radius: 60px;

    margin: 0 auto;
}

/* Modal test */
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}